name: Update GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - "k4-config-maker.html"
      - "flux-logo-color_new-600x241.png"

jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Git Identity
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Copy and rename file
        run: |
          git fetch origin docs
          git checkout docs
          git checkout main -- k4-config-maker.html
          git checkout main -- flux-logo-color_new-600x241.png
          mv k4-config-maker.html index.html
          git add index.html flux-logo-color_new-600x241.png
          git commit -m "Update index.html and assets from main"
          git push origin docs
